html, body, .mapboxgl-map {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.link, .collapsible-header {
color: #3086A8;
transition: all 0.2s linear;
}
.link:hover, .link:focus {
color: #3086A8;
}

.btn, .indigo-alt {
  background-color: #3086A8; 
}

.btn:hover, .btn:focus, .collapsible-header:hover, .collapsible-header:focus, .collapsible-header.active {
  background-color: #3086A8;
}

.mdl-layout__drawer {
  width: 320px !important;
  background-color: #CFCFCF
   !important;
}

.mdl-layout__content {
  margin-left: 320px !important;
}

.is-small-screen>.mdl-layout__drawer {
  width: 240px !important;
  left: -120px !important;
}

.is-small-screen>.mdl-layout__drawer.is-visible {
  left: 0 !important;
}

.is-small-screen>.mdl-layout__content {
  margin-left: 0 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after, [type="checkbox"].filled-in:checked+label:after {
  background-color: #3086A8;
  border: 2px solid #3086A8;
}

[type="checkbox"]:checked+label:before {
  border-right-color: #3086A8;
  border-bottom-color: #3086A8;
}

[type="checkbox"]+label, [type="radio"]+label {
  color: rgba(0,0,0,.87);
  font-size: 14px;
  letter-spacing: .04em;
}

.indent {
  padding-left: 50px !important;
}

[type="checkbox"]+label.multiline {
  line-height: 14px;
}

.secondary {
  color: rgba(0,0,0,.62);
  font-size: 11px;
  line-height: 11px;
}

.collapsible-header {
  color: #fafafa;
  font-size: 16px;
  line-height: 16px;
  padding: 13px 14px;
  letter-spacing: .04em;
}

.collapsible-header i {
  line-height: 16px;
}

.collapsible-body {
  padding: 1rem;
}

.collapsible-body p {
  padding: 0 0 .5rem 0;
  color: rgba(0,0,0,.87);
}

.collapsible-body p.narrow {
  padding: 0 0 .25rem 0;
}

.collapsible-body p:last-child {
  padding: 0;
}

.popup-content {
  max-width: 300px;
}

.note {
  font-size: small;
  line-height: 18px;
}

.domain, .tick line{
	fill: none;
	stroke: grey;
	stroke-width: 1;
}

.line {
  fill: none;
  stroke-width: 2px;
  stroke: #ac0000;
}

.collection.with-header .collection-item {
  background-color: transparent;
  padding: 3px .5em !important;
  line-height: 21px !important;
}

.collection.with-header .collection-item a {
  height: auto !important;
  line-height: 21px !important;
  padding: 0 4px !important;
}

.collection.with-header .collection-header {
  background-color: transparent;
  padding: 18px 0px 6px 0px !important;
  font-size: 15px;
  line-height: 21px !important;
}

::-webkit-scrollbar{width: 6px;height: 6px;}

::-webkit-scrollbar-thumb{background-color:#ccc; border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:#ccc;}

::-webkit-scrollbar-track{background-color:_#eee;}
